@{
    Layout = null;
}
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">

            <img src="~/SUMAGO Logo.bd27e557adf1d3fcaf02.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Super Admin</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Home" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>   





            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Projects
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="ViewProject" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Projects</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="AddProject" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Projects</p>
                        </a>
                    </li>
                </ul>
            </li>



 









            <li class="nav-item">
                <a asp-action="ViewAssets" asp-controller="Rahul" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Assets
                    </p>
                </a>
            </li>











            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>
                        Employees
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="ViewUsers" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Employees</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="AddUser" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Add New Employee

                            </p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Pages
                        Roles
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="CreateRole" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Roles</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="AssignRoles" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Assign Roles</p>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Recuritment
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="AddCandidate" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Candidate</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ManageCandidates" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Candidate</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ViewShortlistedCandidates" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Candidate ShortList</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ViewInterviews" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Interview</p>
                        </a>
                    </li>
                </ul>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Job
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="LinkedInLogin" asp-controller="LinkedIn" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Post Job</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="AddProject" asp-controller="Home" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Posted Jobs</p>
                        </a>
                    </li>
                </ul>
            </li>
           
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>